services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: procurepay
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d procurepay"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/example.env
    environment:
      DJANGO_ALLOWED_HOSTS: "*"
      DATABASE_URL: postgres://postgres:postgres@db:5432/procurepay
      CORS_ALLOW_ALL_ORIGINS: "True"
    volumes:
      - ./backend:/app
      - media:/app/media
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8000/api
    depends_on:
      - backend
    ports:
      - "8085:4173"

volumes:
  pgdata:
  media:
